.work/*
!.work/.gitkeep

assets/*
!assets/.gitkeep
!assets/note.png

output/*
!output/.gitkeep

input/*
!input/.gitkeep

guiding_sheets/*
!guiding_sheets/.gitkeep

__pycache__/
*.py[cod]
.build_deps/
build/
dist/
*.spec
